.card
  display: flex
  flex-direction: column
  width: 100%
  background-color: #fff

  + .card
    margin-top: 2rem

.card-header
  padding: 2rem 2rem 0 2rem

.card-body
  flex-grow: 1
  padding: 2rem

.card-title
  font-size: 1.375rem
  font-weight: 700
  text-align: center
  margin: 0

.card-feedback
  width: 100%
  max-width: 360px
  margin: auto

.auth-cards
  display: flex
  flex-wrap: wrap
  justify-content: center

  .card
    max-width: 300px
    margin: .5rem

    @include media-breakpoint-up(md)
      width: 45%

    @include media-breakpoint-up(lg)
      width: calc(33.333% - 1rem)